@charset "utf-8";
/* CSS 格式书写开发人员约束规范 ****************************************************************** 

1.所有CSS属性，除了空属性可以单行之外，即使只有一个属性，也必须换行,但是后期发布版本压缩什么的请随意压缩。


2.所有缩进都用 TAB， 而不是空格。


3.绑定到HTML元素的CSS属性，除非经过深思熟虑，排除后期污染到其它HTML标签属性，不然一律通过CLASS或者ID来写CSS 
	例如：  
		a {xxxx},  
		div{xxxx}, 
		li {xxxx}, 
		span {xxxx} 这种全局通用HTML标签样式是禁止书写。


4.禁止样式过多嵌套，尽量不要超过3层
	例如：
		.a {xxx}
		.a .b {xxx}
		.a .b .c {xxxx}


5.不要滥用缩写去耍帅or偷懒,省了几个字节会造成后面维护人员很大麻烦
	例如:font:12px/20px "simsun"


********************************************************************************************  */
* {
    border-width: 0.5px;
}
.list-block .item-link .item-inner {
}
.txa-c {text-align: center;}
.app-content-logo {
    text-align: center;
}
.app-content-logo:before {
    content: '';
    background: url(../images/logo.png) center center no-repeat;
    -webkit-background-size: 150px;
    background-size: 150px;
    width: 150px;
    height: 150px;
    display: inline-block;
}
.app-content-logo p {
    font-size: 48px;
    font-weight: normal;
    margin:-10px 0 10px 0;
    color: #fdab00;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
}
.index-select-list {}
.index-select-list i.icon {
    font-size: 24px;
    line-height: 24px;
    width: 24px;
    text-align: center;
    color: #fdab00;
}
.toolbar-inner p.txa-c {
    margin: 0;
    width: 100%;
    font-size: 12px;
}
@-webkit-keyframes show_panel_overlay {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes show_panel_overlay {
    from {opacity: 0}
    to {opacity: 1}
}
.panel-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    -webkit-animation: show_panel_overlay;
    animation: show_panel_overlay;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.custom-color {
    background-color: #fff;
}